<div class="bannerCentral" >
    <div class="gallery autoplay items-3" style="height: 100%;">
      <div id="item-1" class="control-operator"></div>
      <div id="item-2" class="control-operator"></div>
      <div id="item-3" class="control-operator"></div>
  
      <figure class="item" style="height: 100%;" >
        <div class="bannerCentralSetaEsquerda">
            <a href="#item-3"><img src="assets/images/setaEsquerda.png" alt=""></a>
        </div>
        <div class="bannerCentralSetaDireita">
            <a href="#item-2"><img src="assets/images/setaDireita.png" alt=""></a>
        </div>
        <img src="assets/images/banner01.png" class="bannersCentrais" >
      </figure>
  
      <figure class="item" style="height: 100%;">
        <div class="bannerCentralSetaEsquerda">
            <a href="#item-1"><img src="assets/images/setaEsquerda.png" alt=""></a>
        </div>
        <div class="bannerCentralSetaDireita">
            <a href="#item-3"><img src="assets/images/setaDireita.png" alt=""></a>
        </div>
        <img src="assets/images/banner02.png" alt="" class="bannersCentrais">
      </figure>
  
      <figure class="item" style="height: 100%;">
        <div class="bannerCentralSetaEsquerda">
            <a href="#item-2"><img src="assets/images/setaEsquerda.png" alt=""></a>
        </div>
        <div class="bannerCentralSetaDireita">
            <a href="#item-1"><img src="assets/images/setaDireita.png" alt=""></a>
        </div>
        <img src="assets/images/banner01.png" alt="" class="bannersCentrais">
      </figure>
  
      <div class="controls">
        <a href="#item-1" class="control-button">•</a>
        <a href="#item-2" class="control-button">•</a>
        <a href="#item-3" class="control-button">•</a>
      </div>
    </div>
</div>

<app-corretores></app-corretores>